@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
  --background: #111113;
  --foreground: #141416;
  --brand-light: #c6c6c6;
  --brand-dark: #111111;
  --border-grey: #2E3135;
  --code-background: #1C1812;
  --code-background-hover: #251c0b;
  --code-outline: #5B3D06;
  --composed-background: #141726;
   --composed-background-hover: #182449;
  --composed-outline: #304384;
  --text-primary: #EDEEF0;
  --text-secondary: #AFB3BA;
  --io-background: #21121D; 
  --io-background-hover: #37172F; 
  --io-outline: #833869;

  --heading1: 2rem;
  --heading2: 1.8rem;
  --heading3: 1.5rem;
  --heading4: 1.2rem;
  --heading5: 1.1rem;
  --text: 1rem;

}
html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight:400;
}

body {
  margin: 0;
  overflow: auto;
  background-color: var(--background);
}
body p, h1, h2, h3{
  color:var(--text-primary);
}
.label-title{
  color: var(--text-secondary);
  size: var(--heading5);
  font-weight:300;
}
.header-container{
  height:50px;
  width: 100%;
  border-bottom: 1px solid var(--border-grey);
  padding: 20px 10px 20px 10px;
}
.parent-flex-box{
  display:flex;
  flex-direction:column;
}
.parent-grid-container{
  min-height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-columns: 250px 1fr;
}
.canvas{
  width:100%;
  height:100%;
}
.side-panel{
  border-right: 1px solid var(--border-grey);
  padding: 20px 10px 20px 10px;
  display:flex;
  flex-direction:column;
  gap:10px;
}
 
.composed {
  height: 80px;
  width:100px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--composed-outline);
  background-color: var(--composed-background);
  color: var(--text-primary);
}
 
.composed label {
  display: block;
  color: var(--text-primary);
  font-size: 12px;
}
 
.code {
  height: 100px;
  width:100px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--code-outline);
  background-color: var(--code-background);
  color: var(--text-primary);
}
 
.code label {
  display: block;
  color: var(--text-primary);
  font-size: 12px;
}
 
/* .input {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
 
.input label {
  display: block;
  color: #777;
  font-size: 12px;
}
 
.output {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
 
.output label {
  display: block;
  color: #777;
  font-size: 12px;
} */

.input {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #eee;
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: var(--text-primary);
  font-size:14px;
}
 
.input label {
  display: block;
  color: var(--text-primary);
  font-size: 12px;
}
 
.output {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--io-outline);
  background-color: var(--io-background);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: var(--text-primary);
  font-size:14px;
}
 
.output label {
  display: block;
  color: var(--text-primary);
  font-size: 12px;
}

.react-flow__node-input.nopan {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  width: fit-content;
  height: fit-content;
}

.react-flow__node-output.nopan {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  width: fit-content;
  height: fit-content;
}

.new-block-form{
  background-color: var(--foreground);
  border-radius:20px;
  border: 2px solid var(--border-grey);
  position: fixed;
  top:100px;
  bottom: 50px;
  right: 300px;
  left:300px;
  padding: 20px 20px 20px 20px;
}

.new-comp-form{
  background-color: var(--foreground);
  border-radius:20px;
  border: 2px solid var(--border-grey);
  position: fixed;
  top:100px;
  right: 300px;
  left:300px;
  padding: 20px 20px 50px 20px;
}

.modal-io-row{
  display:flex;
  flex-direction:row;
  gap:50px;
}
.modal-input{
  background-color:var(--background);
  outline: none;
  border:2px solid var(--border-grey);
  border-radius:5px;
  padding:5px 10px 5px 10px;
  width:250px;
  color: var(--text-primary);
  font-size: var(--text);
}
input:focus {
  outline: none;
  border:2px solid var(--border-grey);
  box-shadow: none;
}
.modal-io-col{
  display:flex;
  flex-direction:column;
  gap: 10px;
}

.modal-textarea{
  background-color:var(--background);
  outline: none;
  border:2px solid var(--border-grey);
  border-radius:5px;
  padding:5px 10px 5px 10px;
  width:600px;
  color: var(--text-primary);
  font-size: var(--text);
  min-height: 120px;
  box-sizing: border-box;
  resize: vertical;
}

.code-form{
  overflow-y: auto;
  max-height: 600px;
}
.modal-section-title{
  color: var(--text-secondary);
  font-weight: 300;
  font-size:var(--heading4);
}
.modal-header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.material-symbols-rounded{
  color:var(--text-primary);
}
.material-symbols-rounded:hover {
  cursor: pointer;
}
.io-row{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}